<header class="header-custom">
  <div class="logo">
    <img src="/assets/image/ifnmg_horizontal.png" alt="IFNMG">
  </div>

  <!-- Imagem centralizada horizontalmente -->
  <div class="centered-image">
    <img src="/assets/svg/logoLancheGO.SVG" alt="lancheGO">
  </div>

  <nav class="links-header">
    <ul>
      <% if (locals.session && locals.session.usuario) { %>
        <% if (locals.session.usuario.tipoUsuario === 'usuario') { %>
          <li><a href="/cliente/perfil">Perfil</a></li>
        <% } else if (locals.session.usuario.tipoUsuario === 'admin') { %>
          <li><a href="/admin/dashboard">Painel de Controle</a></li>
        <% } %>
        <li><a href="/auth/logout">Sair</a></li>
      <% } else { %>
        <li><a href="/auth/login">Entrar</a></li>
        <li><a href="/auth/registro">Cadastrar</a></li>
      <% } %>
    </ul>
  </nav>
</header>
