// assets/css/pages/_login.scss

// Estilos para o contêiner do formulário
.form-container {
  max-width: 400px; // Aumenta a largura máxima
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: $border-radius;
  @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.1));
}

// Estilos para o formulário de login
.form-container form {
  display: block;
  flex-direction: column;
  width: 100%; // Garante que o formulário use a largura total do contêiner
  max-width: 600px; // Ajuste conforme necessário
  margin: 0 auto; // Centraliza o formulário
  box-sizing: border-box;

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  label {
    margin-top: 10px;
  }

  input, select, button {
    border-radius: $border-radius;
    border: 1px solid #ddd;
    width: 100%; 
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%; // Alterado para 100% para se ajustar à largura do contêiner

    &:hover {
      background-color: #0056b3;
    }
  }
}

// Contêiner para ações do formulário (Login e Criar Cadastro)
.form-actions {
  display: flex;
  justify-content: center; // Centraliza o botão de login
  align-items: center;
  margin-top: 20px;

  button {
    margin-right: 10px; // Espaçamento opcional
    width: 100%; // Botão ocupa toda a largura
  }
}

// Estilos para a checkbox "Lembrar de mim"
.remember-me {
  display: flex; /* Alinha o input e o texto horizontalmente */
  align-items: center; /* Alinha o input e o texto verticalmente */
  margin-top: 15px; /* Ajuste o espaço acima, se necessário */
  text-align: left; /* Justifica o texto à esquerda */

  input {
    margin-right: 8px; /* Espaço entre o input e o texto */
  }

  label {
    font-size: 0.9rem; /* Tamanho da fonte */
  }
}


// Estilos para links adicionais fora do form-container
.additional-links {
  text-align: center; // Centraliza os links
  margin-top: 20px;

  a {
    display: block; // Coloca cada link em uma nova linha
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Estilos para mensagens de erro e sucesso
.error-message, .success-message {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
