// assets/css/pages/_login.scss

// Estilos para o contêiner do formulário
.form-container {
  max-width: 600px; // Largura máxima
  width: 90%; // Largura inicial em 90%
  margin: 70px auto 0 auto; // Margens superior e inferior
  padding: 20px;
  background-color: #fff;

  // Responsividade para telas menores
  @media (max-width: 600px) {
    width: calc(100% - 40px); // Usa quase toda a largura disponível, menos a margem
    margin: 0 auto 0 auto;
  }

  // Ajustes para telas maiores
  @media (min-width: 2020px) {
    max-width: 800px;
    padding: 12px; // Aumenta o padding em telas maiores
    margin-bottom: 25px; // Aumenta a margem inferior em telas maiores

    label, a, button {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 2.8rem;
    }

    input, select, button {
      padding: 18px; // Aumenta o padding em telas maiores
      margin-bottom: 20px; // Ajusta a margem inferior
      font-size: 1.2rem;
    }
  }
}

// Estilos para o formulário de login
.form-container form {
  display: flex; // Alinhamento flex
  flex-direction: column; // Colocar os itens em coluna
  width: 100%; // Garante que o formulário use a largura total do contêiner
  box-sizing: border-box; // Para garantir que o padding não afete a largura total

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  label {
    margin-top: 10px;
  }

  input, select, button {
    border: 1px solid #aaaaaa;
    margin-bottom: 15px; // Espaço entre os campos
    padding: 10px; // Padding padrão para os campos
    box-sizing: border-box; // Para garantir que o padding não afete a largura total
  }

  button {
    background-color: $secondary-color;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%; // Botão ocupa toda a largura

    &:hover {
      background-color: $tertiary-color;
    }
  }
}

// Estilos para a checkbox "Lembrar de mim"
.remember-me {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  align-items: baseline;

  input {
    margin-right: 8px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: relative;
    top: 4px;
  }

  label {
    font-size: 0.9rem;
    flex: 1;
    white-space: nowrap;
  }
}

// Estilos para links adicionais fora do form-container
.additional-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;

  a {
    display: block;
    margin-top: 10px;
    color: $tertiary-color;
    text-decoration: none;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Estilos para mensagens de erro e sucesso
.error-message, .success-message {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

// Ajustes para #login-adm
#login-adm {
  .form-container {
    margin: 30px auto 0 auto;
  }
}
