// assets/css/pages/_registro.scss

// Estilos para o formulário de registro
.registro-form {
  max-width: 600px; // Largura máxima
  width: 90%; // Largura inicial em 90%
  margin: 70px auto; // Margens superior e inferior
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box; // Para garantir que o padding não afete a largura total

  // Responsividade com media query
  @media (max-width: 600px) {
    margin: 20px; // Reduz as margens em telas menores
    width: calc(100% - 40px); // Faz com que o contêiner use quase toda a largura disponível, menos a margem
  }

  @media (min-width: 2020px) {
        max-width: 800px;
  }
}

.registro-form form {
  display: flex; // Usar flexbox para alinhamento
  flex-direction: column; // Colocar os itens em coluna
  width: 100%; // Garante que o formulário use a largura total do contêiner
  box-sizing: border-box; // Para garantir que o padding não afete a largura total
}

.registro-form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.registro-form label {
  display: block;
  margin-bottom: 5px;
}

.registro-form input,
.registro-form select,
.registro-form button {
  width: 100%; // Garante que os campos usem a largura total do contêiner
}

.registro-form button {
  background-color: $secondary-color;
  color: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $tertiary-color;
  }
}

.registro-form a {
  display: block;
  text-align: center;
  margin-top: 20px;
}
