@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    min-height: 100vh; /* Faz o corpo ocupar pelo menos a altura da tela */
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1; /* Permite que o main ocupe todo o espaço restante */
    display: flex; /* Adiciona display flex para centralização vertical se necessário */
    flex-direction: column; /* Alinha itens verticalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente se necessário */
}  

h1 {
    text-align: center;
    margin: 20px 0;
    font-weight: 700; // Aplica o peso da fonte Roboto Bold
}

.digital-name {
    margin: 30px 0;
}

a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    @include button-style(); // Certifique-se de que o mixin 'button-style' esteja definido
}

#back-button {
    background-color: transparent; // Remove o fundo do botão
    border: none; // Remove a borda do botão
    color: $secondary-color; // Define a cor do texto usando a variável de cor primária
    padding: 10px 20px; // Adiciona espaçamento ao redor do texto
    cursor: pointer; // Troca o cursor para uma mãozinha
    font-size: 16px; // Ajusta o tamanho da fonte
    text-decoration: underline; // Adiciona sublinhado ao texto
    text-align: left; // Alinha o texto à esquerda
    display: inline-block; // Para garantir que o espaçamento funcione corretamente
}

textarea {
    resize: none;
}

#back-button:hover {
    text-decoration: none; // Remove o sublinhado ao passar o mouse
    color: lighten($primary-color, 10%); // Clareia a cor ao passar o mouse
}

/* Estilo do modal */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;

    font-size: 1.2em;
}

.button-modal {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 40px;
    margin-bottom: 10px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
  }

#alert {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#status-message {
    margin-top: 30px;
}

input, select {
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif; // Garante que os inputs e selects também usem Roboto

    @media (min-width: 2020px) {
        padding: 12px;  // Aumenta o padding em telas maiores
        margin-bottom: 25px; // Aumenta a margem inferior em telas maiores
    }

    @media (min-width: 2020px) {
        padding: 15px;  // Aumenta ainda mais o padding em telas grandes
        margin-bottom: 30px; // Aumenta a margem inferior em telas grandes
    }

    @media (min-width: 2020px) {
        padding: 18px;  // Para telas muito grandes, um padding ainda maior
        margin-bottom: 35px; // Aumenta a margem inferior
    }
}

@media (min-width: 2020px) {
    label, a, button {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.8rem;
    }
}