@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body {
  min-height: 100vh; /* Faz o corpo ocupar pelo menos a altura da tela */
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1; /* Permite que o main ocupe todo o espaço restante */
  display: flex; /* Adiciona display flex para centralização vertical se necessário */
  flex-direction: column; /* Alinha itens verticalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente se necessário */
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  background-color: #222222;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 16px;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}
button:hover {
  background-color: #636363;
}

#back-button {
  background-color: transparent;
  border: none;
  color: #222222;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
  text-align: left;
  display: inline-block;
}

textarea {
  resize: none;
}

#back-button:hover {
  text-decoration: none;
  color: white;
}

/* Estilo do modal */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.button-modal {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 40px;
}

input, select {
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 2020px) {
  input, select {
    padding: 12px;
    margin-bottom: 25px;
  }
}
@media (min-width: 2020px) {
  input, select {
    padding: 15px;
    margin-bottom: 30px;
  }
}
@media (min-width: 2020px) {
  input, select {
    padding: 18px;
    margin-bottom: 35px;
  }
}

@media (min-width: 2020px) {
  label, a, button {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2.8rem;
  }
}
.header-custom {
  background-color: #ffffff;
  padding: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header-custom .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.header-custom .logo img {
  width: 300px;
  height: auto;
  max-width: 100%;
}
@media (max-width: 600px) {
  .header-custom .links-header {
    display: none;
  }
}
.header-custom .centered-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.header-custom .centered-image img {
  max-width: 200px;
  height: auto;
  min-width: 150px;
}
.header-custom nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-custom ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.header-custom ul li {
  margin-right: 20px;
}
.header-custom ul li a {
  color: #222222;
  text-decoration: none;
  font-weight: bold;
}
.header-custom ul li a:hover {
  color: #747474;
}
@media (max-width: 800px) {
  .header-custom .logo img {
    width: 170px;
  }
}
@media (max-width: 600px) {
  .header-custom {
    flex-direction: column;
    padding: 20px;
  }
  .header-custom .logo img {
    width: 170px;
  }
  .header-custom .centered-image {
    position: static;
    transform: none;
    margin: 10px 0;
  }
  .header-custom nav {
    margin-left: 0;
  }
  .header-custom ul {
    flex-direction: column;
  }
  .header-custom ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .header-custom .logo img {
    width: 150px;
  }
  .header-custom .centered-image img {
    max-width: 150px;
  }
}

footer {
  background-color: #222222;
  color: #fff;
  text-align: center;
  padding: 16px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  display: flex; /* Adiciona o display flex */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}
footer p {
  margin: 0;
}

.form-container {
  max-width: 600px;
  width: 90%;
  margin: 70px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}
@media (max-width: 600px) {
  .form-container {
    width: calc(100% - 40px);
    margin: 0 auto 0 auto;
  }
}
@media (min-width: 2020px) {
  .form-container {
    max-width: 800px;
    padding: 12px;
    margin-bottom: 25px;
  }
  .form-container label, .form-container a, .form-container button {
    font-size: 1.5rem;
  }
  .form-container h1 {
    font-size: 2.8rem;
  }
  .form-container input, .form-container select, .form-container button {
    padding: 18px;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.form-container form h1 {
  margin-bottom: 20px;
  text-align: center;
}
.form-container form label {
  margin-top: 10px;
}
.form-container form input, .form-container form select, .form-container form button {
  border: 1px solid #aaaaaa;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}
.form-container form button {
  background-color: #222222;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}
.form-container form button:hover {
  background-color: #636363;
}

.remember-me {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  align-items: baseline;
}
.remember-me input {
  margin-right: 8px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  position: relative;
  top: 4px;
}
.remember-me label {
  font-size: 0.9rem;
  flex: 1;
  white-space: nowrap;
}

.additional-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
.additional-links a {
  display: block;
  margin-top: 10px;
  color: #636363;
  text-decoration: none;
  width: fit-content;
}
.additional-links a:hover {
  text-decoration: underline;
}

.error-message, .success-message {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

#login-adm .form-container {
  margin: 30px auto 0 auto;
}

.registro-form {
  max-width: 600px;
  width: 90%;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .registro-form {
    margin: 20px;
    width: calc(100% - 40px);
  }
}
@media (min-width: 2020px) {
  .registro-form {
    max-width: 800px;
  }
}

.registro-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.registro-form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.registro-form label {
  display: block;
  margin-bottom: 5px;
}

.registro-form input,
.registro-form select,
.registro-form button {
  width: 100%;
}

.registro-form button {
  background-color: #222222;
  color: #fff;
  border: none;
  cursor: pointer;
}
.registro-form button:hover {
  background-color: #636363;
}

.registro-form a {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.relatorio {
  margin: 40px 20px;
}

.tabela-relatorio {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
}

.tabela-relatorio th, .tabela-relatorio td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-relatorio th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.tabela-relatorio tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-relatorio tr:hover {
  background-color: #eaeaea;
}

@media (max-width: 768px) {
  .tabela-relatorio {
    border: 0;
  }
  .tabela-relatorio thead {
    display: none;
  }
  .tabela-relatorio tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  .tabela-relatorio td {
    display: block;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }
  .tabela-relatorio td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
}
.login-adm .form-container {
  max-width: 600px;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 20px;
  background-color: #fff;
}
@media (max-width: 600px) {
  .login-adm .form-container {
    margin: 20px;
    width: calc(100% - 40px);
  }
}
.login-adm .form-container button {
  margin-top: 10px;
  padding: 10px;
}
.login-adm .form-container button:hover {
  background-color: #636363;
}
.login-adm .form-container h1 {
  margin: 0 0 30px 0;
}

.gerenciar-usuarios main {
  margin: 0 40px;
  align-items: center;
}
.gerenciar-usuarios form {
  max-width: 600px;
}
.gerenciar-usuarios form button {
  padding: 10px;
}
.gerenciar-usuarios .adicionar-usuario-form {
  margin-bottom: 40px;
}
.gerenciar-usuarios table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.gerenciar-usuarios table th, .gerenciar-usuarios table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
.gerenciar-usuarios table th {
  background-color: #f4f4f4;
}
.gerenciar-usuarios table td {
  background-color: #fff;
}
.gerenciar-usuarios table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.gerenciar-usuarios table .action-icons {
  display: flex; /* Permite o alinhamento em linha */
  align-items: center; /* Alinha verticalmente no centro */
  gap: 30px;
  justify-content: center;
}
@media (max-width: 400px) {
  .gerenciar-usuarios table .action-icons {
    flex-direction: column; /* Alinha os ícones verticalmente */
    gap: 10px; /* Reduz o espaço entre os ícones */
    min-height: 60px; /* Ajuste a altura mínima para permitir o gap */
  }
}
.gerenciar-usuarios table .action-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.gerenciar-usuarios table .action-icons a i {
  color: #333; /* Cor padrão do ícone */
  font-size: 1.2rem; /* Tamanho do ícone */
  transition: color 0.3s; /* Transição suave para a cor */
}
.gerenciar-usuarios table .action-icons a:hover i {
  color: #636363; /* Cor ao passar o mouse */
}
.gerenciar-usuarios table .action-icons form {
  display: inline-flex; /* Mantém os ícones no mesmo nível */
}
.gerenciar-usuarios table .action-icons form button.delete-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.gerenciar-usuarios table .action-icons form button.delete-icon-btn i {
  color: red; /* Cor do ícone de excluir */
  font-size: 1.2rem; /* Tamanho do ícone */
  transition: color 0.3s;
}
.gerenciar-usuarios table .action-icons form button.delete-icon-btn:hover i {
  color: darkred; /* Muda a cor ao passar o mouse */
}
@media (max-width: 400px) {
  .gerenciar-usuarios th, .gerenciar-usuarios td {
    font-size: 0.8rem; /* Reduz o tamanho da fonte */
    padding: 5px; /* Reduz o padding */
  }
}
.gerenciar-usuarios .search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
}
.gerenciar-usuarios .search-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}
.gerenciar-usuarios .search-container button {
  width: auto;
  height: auto;
}
.gerenciar-usuarios .search-container input {
  margin: 0;
}

.gerenciarDigitais main {
  margin: 0 40px;
  align-items: center;
}
.gerenciarDigitais form {
  max-width: 600px;
}
.gerenciarDigitais form button {
  padding: 10px;
}
.gerenciarDigitais .adicionar-digital-form {
  margin-bottom: 40px;
}
.gerenciarDigitais table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.gerenciarDigitais table th, .gerenciarDigitais table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
.gerenciarDigitais table th {
  background-color: #f4f4f4;
}
.gerenciarDigitais table td {
  background-color: #fff;
}
.gerenciarDigitais table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.gerenciarDigitais table .action-icons {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 400px) {
  .gerenciarDigitais table .action-icons {
    flex-direction: column;
    gap: 10px;
    min-height: 60px;
  }
}
.gerenciarDigitais table .action-icons form {
  display: inline-flex;
}
.gerenciarDigitais table .action-icons form button.edit-icon-btn, .gerenciarDigitais table .action-icons form button.delete-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.gerenciarDigitais table .action-icons form button.edit-icon-btn i, .gerenciarDigitais table .action-icons form button.delete-icon-btn i {
  font-size: 1.2rem;
  transition: color 0.3s;
}
.gerenciarDigitais table .action-icons form button.edit-icon-btn.edit-icon-btn i, .gerenciarDigitais table .action-icons form button.delete-icon-btn.edit-icon-btn i {
  color: #333;
}
.gerenciarDigitais table .action-icons form button.edit-icon-btn.delete-icon-btn i, .gerenciarDigitais table .action-icons form button.delete-icon-btn.delete-icon-btn i {
  color: red;
}
.gerenciarDigitais table .action-icons form button.edit-icon-btn:hover i, .gerenciarDigitais table .action-icons form button.delete-icon-btn:hover i {
  color: darkred; /* Para o ícone de exclusão */
}
@media (max-width: 400px) {
  .gerenciarDigitais th, .gerenciarDigitais td {
    font-size: 0.8rem;
    padding: 5px;
  }
}
.gerenciarDigitais .search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
}
.gerenciarDigitais .search-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}
.gerenciarDigitais .search-container button {
  width: auto;
  height: auto;
}
.gerenciarDigitais .search-container input {
  margin: 0;
}

.dashboard .dashboard-container {
  max-width: 600px;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 20px;
  background-color: #fff;
}
@media (max-width: 600px) {
  .dashboard .dashboard-container {
    margin: 20px;
    width: calc(100% - 40px);
  }
}
.dashboard nav {
  margin-top: 2rem;
}
.dashboard nav .dashboard-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard nav .dashboard-nav .nav-item {
  margin: 0 30%;
  display: block;
  padding: 1rem;
  font-size: 1.125rem;
  color: #222222;
  text-decoration: none;
  border: 4px solid #d0d0d0;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.dashboard nav .dashboard-nav .nav-item:hover {
  background-color: #ececec;
}

.recuperar-senha .form-container {
  margin: 0 auto 0 auto;
}

/*# sourceMappingURL=styles.css.map */
