.header-custom {
  background-color: $primary-color;
  padding: $padding;
  color: #fff;
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
  position: relative; /* Para permitir o uso de posicionamento absoluto */
  padding-left: 40px; /* Adiciona espaçamento do lado esquerdo */
  padding-right: 40px; /* Adiciona espaçamento do lado direito */
  
  @include box-shadow(0, 4px, 8px, rgba(0, 0, 0, 0.1));

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;

    img {
      width: 300px;
      height: auto;
    }
  }

  nav {
    display: flex;
    align-items: center; /* Alinha os itens do menu verticalmente */
    margin-left: auto; /* Move o nav para a direita */
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Alinha os itens horizontalmente */
    
    li {
      margin-right: 20px; /* Espaço entre os itens */
      
      a {
        color: $secondary-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: lighten(#414141, 20%);
        }
      }
    }
  }

  .centered-image {
    position: absolute; /* Posiciona a imagem centralizada em relação ao pai */
    left: 50%; /* Move para o centro horizontal */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    
    img {
      max-width: 200px; /* Define o tamanho máximo da imagem */
      height: auto;
      min-width: 200px;
    }
  }
}
