.header-custom {
  background-color: $primary-color;
  padding: $padding;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap; // Permite quebrar linhas quando necessário

  @include box-shadow(0, 4px, 8px, rgba(0, 0, 0, 0.1));

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;

    img {
      width: 300px;
      height: auto;
      max-width: 100%; // Garante que a imagem não extrapole o contêiner
    }
  }
  .links-header {
    @media (max-width: 600px) {
      display: none;
    }
  }

  .centered-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    
    img {
      max-width: 200px;
      height: auto;
      min-width: 150px; // Ajusta a largura mínima
    }
  }

  nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-right: 20px;

      a {
        color: $secondary-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: lighten(#414141, 20%);
        }
      }
    }
  }

  @media (max-width: 800px) {
    .logo {
      img {
        width: 170px; // Ajusta a largura da logo para telas menores
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column; // Alinha elementos verticalmente
    padding: 20px;

    .logo {
      img {
        width: 170px; // Ajusta a largura da logo para telas menores
      }
    }

    .centered-image {
      position: static; // Remove o posicionamento absoluto
      transform: none; 
      margin: 10px 0; // Adiciona margem para espaçamento
    }

    nav {
      margin-left: 0; // Centraliza o menu de navegação
    }

    ul {
      flex-direction: column; // Alinha os itens verticalmente
      li {
        margin-right: 0; // Remove o espaçamento entre os itens
        margin-bottom: 10px; // Adiciona margem inferior para espaçamento
      }
    }
  }

  @media (max-width: 400px) {
    .logo img {
      width: 150px; // Reduz ainda mais a logo em telas muito pequenas
    }

    .centered-image img {
      max-width: 150px; // Ajusta o tamanho da imagem centralizada
    }
  }
}
